@font-face {
  font-family: 'Pixeboy';
  font-style: normal;
  font-weight: 400;
  src: local('Pixeboy'), url('https://fonts.cdnfonts.com/s/34898/Pixeboy-z8XGD.woff') format('woff');
}



body{
    font-family: 'Pixeboy', sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
i {
  margin-right: 10px;
}
/*----------bootstrap-navbar-css------------*/
.navbar-logo{
  padding: 15px;
  color: #fff;
}

.navbar-price{
  position: relative;
  padding: 15px;
  color: green;
  left: 35%;
}
.navbar-mainbg{
  background-color: #F9CE14;
  padding: 0px;
}
#navbarSupportedContent{
  overflow: hidden;
  position: relative;
}
#navbarSupportedContent ul{
  padding: 0px;
  margin: 0px;
}
#navbarSupportedContent ul li a i{
  margin-right: 10px;
}
#navbarSupportedContent li {
  list-style-type: none;
  float: left;
}
#navbarSupportedContent ul li a{
  color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 15px;
    display: block;
    padding: 20px 20px;
    transition-duration:0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    position: relative;
}
#navbarSupportedContent>ul>li.active>a{
  color: #F9CE14;
  background-color: transparent;
  transition: all 0.7s;
}
#navbarSupportedContent a:not(:only-child):after {
  content: "\f105";
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 14px;
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
  transition: 0.5s;
}
#navbarSupportedContent .active>a:not(:only-child):after {
  transform: rotate(90deg);
}
.hori-selector{
  display:inline-block;
  position:absolute;
  height: 100%;
  top: 0px;
  left: 0px;
  transition-duration:0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  background-color: #fff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: 10px;
}
.hori-selector .right,
.hori-selector .left{
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #fff;
  bottom: 10px;
}
.hori-selector .right{
  right: -25px;
}
.hori-selector .left{
  left: -25px;
}
.hori-selector .right:before,
.hori-selector .left:before{
  content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #F9CE14;
}
.hori-selector .right:before{
  bottom: 0;
    right: -25px;
}
.hori-selector .left:before{
  bottom: 0;
    left: -25px;
}


@media(min-width: 992px){
  .navbar-expand-custom {
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -ms-flex-pack: start;
      justify-content: flex-start;
  }
  .navbar-expand-custom .navbar-nav {
      -ms-flex-direction: row;
      flex-direction: row;
  }
  .navbar-expand-custom .navbar-toggler {
      display: none;
  }
  .navbar-expand-custom .navbar-collapse {
      display: -ms-flexbox!important;
      display: flex!important;
      -ms-flex-preferred-size: auto;
      flex-basis: auto;
  }
}


@media (max-width: 991px){
  #navbarSupportedContent ul li a{
    padding: 12px 30px;
    background-color: #F9CE14;
  }
  .hori-selector{
    
    margin-top: 0px;
    margin-left: 10px;
    border-radius: 0;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }
  .hori-selector .left,
  .hori-selector .right{
    right: 10px;
    
  }
  .hori-selector .left{
    top: -25px;
    left: auto;
  }
  .hori-selector .right{
    bottom: -25px;
  }
  .hori-selector .left:before{
    left: -25px;
    top: -25px;
  }
  .hori-selector .right:before{
    bottom: -25px;
    left: -25px;
  }
}
/* Note: This example only works with Windows Insider Preview Builds 16237+ or the Fall Creators Update. */

body { 
	display: grid;
	grid-template-areas: 
    "header header header"
    "chat section aside"
    "video-public caller video-private";
	grid-template-rows: 64px 1fr 260px;
	grid-template-columns: 15% 1fr 18%;
	grid-gap: 0px;
  height: 100vh;
  margin: 0px;
}

nav {
	grid-area: header;
}

chat {
	background: #C9BFBF;
	grid-area: chat; 
}

section {
	background: none;
	grid-area: section;    
}

aside {
	background: #C9C9C9;
	grid-area: aside; 
}

caller {

	background: #C9C9C9;
	grid-area: caller;
  grid-template-rows: 500px 1fr 50px
  
}
#Buy {
	position: absolute;
	left: 33.333333%;
	top: 85%;
}

#Sell {
	position: absolute;
	left: 53.66666%;
	top: 85%;
}


#Balance {
	position: absolute;
  left: 25%;
	top: 93%;
  width: 500px;
}



div.game {
  position: fixed;
  height: 50px;
}
header, nav, section, aside, footer {
	padding: 5px;
}

#loading {
	position: absolute;
	width: 580px;
	left: 30%;
	top: 10%;
}


