
.loader_bg {
     position: fixed;
     z-index: 9999999;
     background: #000;
     width: 100%;
     height: 100%;
}

.loader {
     height: 100%;
     width: 100%;
     position: absolute;
     left: 0;
     top: 0;
     display: flex;
     justify-content: center;
     align-items: center;
}

.loader img {
     width: 280px;
}




button.btn-buy {
	padding: 8px 55px;
	font-size: 25px;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #fff;
	background-color: green;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
}


button.btn-buy:hover {background-color: #3e8e41}

button.btn-buy:active {
	background-color: #3e8e41;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}


button.btn-sell {
  position:absolute;
  top:85%;
  left:48%;
	padding: 8px 55px;
	font-size: 25px;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #fff;
	background-color: red;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
}

button.btn-sell:hover {background-color: #8e3e3e}

button.btn-sell:active {
	background-color: #8e3e3e;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}


.center{
  position:absolute;
  top:90%;
  left:48%;
  transform:translate(-50%,-50%)
}
.popup{
 
  width:350px;
  height:280px;
  padding:30px 20px;
  background: rgb(221, 220, 220);
  box-sizing:border-box;
  border-radius: 10px;

  z-index:2;
  text-align:center;
  opacity:0;
  top:-300%;
  transform:translate(-50%,-50%) scale(0.5);
  transition:opacity 300ms ease-in-out,top 1000ms ease-in-out, transform 1000ms ease-in-out;
 
}
.popup.active{
  opacity:1;
  top:50%;
  transform:translate(-50%,-50%) scale(1);
  transition:transform 300ms cubic-bezier(0.18,0.89,0.43,1.19);
}

.popup .icon{
  margin: 5px 0px;
  width:50px;
  height:50px;  
  border: 2px solid #34f234;
  text-align:center;
  display:inline-block;
  border-radius:50%;
  line-height:55px;
}
.popup .title{
  margin:5px 0px;
  font-size:30px;
  font-weight:600;
}
.popup .description{
  color:#222;
  font-size:15px;
  padding:5px;
}
.popup .dismiss-btn{
  margin-top:15px;
}
.dismiss-btn button ,.open-btn button{
  padding:10px 20px;
  background-color: #111;
  color:#f5f5f5;
  border: 2px solid #111;
  font-size:16px;
  font-weight:600;
  outline:none;
  border-radius:10px;
  transition:all 300ms ease-in-out;
  cursor:pointer;
}
.dismiss-btn button:hover,.open-btn button:hover{
  color:#111;
  background:#f5f5f5;
}

.popup > div{
  position:relative;
  top:10px;
  opacity:0;
}
.popup.active > div{
  top:0px;
  opacity:1;
}

.popup.active .icon{
  transition: all 300ms ease-in-out 250ms;
}
.popup.active .title{
  transition: all 300ms ease-in-out 250ms;
}
.popup.active .description{
  transition: all 300ms ease-in-out 250ms;
}
.popup.active .dismiss-btn{
  transition: all 300ms ease-in-out 400ms;
}
